@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: url('./src/assets/fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Rubik';
  src: url('./src/assets/fonts/Rubik.ttf') format('truetype');
}

@font-face {
  font-family: 'Kanit-Regular';
  src: url('./src/assets/fonts/Kanitregular.ttf') format('truetype');
}

@font-face {
  font-family: 'Kanitbold';
  src: url('./src/assets/fonts/Kanitbold.ttf') format('truetype');
}

@layer components {
  .h1-heading {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 44px;
  }

  .h2-heading {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 32px;
  }

  .h3-heading {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 24px;
  }

  .h4-heading {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 20px;
  }

  .body-large {
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 20px;
  }

  .body-review {
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 16px;
  }

  .body-small {
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 14px;
  }

  .caption {
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 12px;
  }

  .button {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
  }

  .nav-tab {
    font-family: 'Rubik';
    padding: 8px;
    border-radius: 7px;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }

  .version-tab {
    font-family: 'Rubik';
    padding: 8px;
    border-radius: 7px;
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    border: 1px solid #e0e0e03f;
  }

  .fill-page {
    height: calc(100% - 64px);
  }
}
